*{
		box-sizing: border-box;
	}
	h1{
		text-align: center;
	}
	.container{
		text-align: right;
		background-color:grey;
		width: 32%;
		border: 2px solid black;
		float: left;
		margin: 8px;
	}
	span{
		background-color: lightpink;
		border: 2px solid black;
		border-right: 0px;
		padding: 0px 5px 5px 5px;
		text-align: center;

	}
	.container-1{
		text-align: left;
		padding: 8px;
		border:black;
		background-color: grey;

	}

	.container-m{
		text-align: right;
		background-color:grey;
		width: 32%;
		border: 2px solid black;
		float: left;
		margin: 8px;
	}
	.red{
		background-color: indianred;
	}
	.container-2{
		text-align: left;
		padding: 8px;
		border:black;
		background-color: grey;

	}
	.containers{
		text-align: right;
		background-color:grey;
		width: 32%;
		border: 2px solid black;
		float: left;
		margin: 8px;
	}
	.yellow{
		background-color: yellow;
	}
	.container-3{
		text-align: left;
		padding: 8px;
		border:black;
		background-color: grey;
}
@media (min-width: 992px) and (max-width:1480px){
	.containers,.container, .container-m{
		width: 31%;
	}
}
@media (min-width: 769px) and (max-width:991.9px) {
  /* For tablets: */
  .container,.container-m{
  	width: 47%;
  }
  .containers {
    width: 95.6%;
    padding: 0;
  }
  
}
@media (min-width: 100px) and (max-width:768px) {
  /* For mobile phones: */
  .container,.container-m,.containers{
    width: 95%;
  }
}